body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: black;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
/* navBar styling */
.navs {
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(8px);

  align-items: center;
  height: 64px;
}
.nav li a {
  color: white;
}
nav {
  z-index: 9999;
}

/* text-styling */
p {
  color: white;
}
span {
  color: red;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
}
/* hero section */
.hero-text {
  margin-top: 15%;
}

@media screen and (max-width: 600px) {
  .hero-text {
    margin-top: 25%;
  }
}

@media screen and (width: 1024px) {
  .hide {
    display: none !important;
  }

  .display {
    display: block !important;
  }
}

/* cards styling */
.card-title {
  color: white;
}

/* footer styling */
ol li i {
  cursor: pointer;
}
